*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
#myBTN{
    user-select: none;
    background: green;
    color: white;
    padding: 22px 48px;
    font-size: 22px;
    border-radius: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.container:hover{
    transform: translate(-50%,-50%) scale(1.1);
}
.container{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    position: absolute;
    transition: .25s ease-in-out all;
}